@use "global" as *;
.article__more--link {
  // size
  height: 100%;
  // ajust
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  // decoration
  text-decoration: none;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}

// article__more--linkの擬似要素
.article__more--link::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: "";
  background-color: #333;
  transform-origin: right top; // アニメーションの始点を設定(左→右)
  // transition: transform 0.3s;
  transform: scale(1, 1);
  // transition: transform 0.3s;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}

// article__more--linkの擬似要素
.article__more--link:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.article__more--link:hover {
  color: #fff;
}
