@use "global" as *;
.article__more--inner {
  // font
  color: #000;
  // ajust
  display: flex;
  justify-content: center;
  align-items: center;
  //decoration
  border: 1px solid #fff;
  background-color: #fff;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}
