@use "global" as *;
.article__more--inner {
  // ajust
  display: flex;
  justify-content: center;
  align-items: center;
  //decoration
  color: #fff;
  border: 1px solid #fff;
  background-color: #333;
  @include mq(md) {
    //decoration
    color: #000;
    border: 1px solid #fff;
    background-color: #fff;
  }
  @include mq(xl) {
  }
}
