@use "global" as *;
.article__topix--inner {
  // decoration
  border: 1px solid #fff;
  // ajust
  display: flex;
  justify-content: center;
  align-items: center;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}
